<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.handmark.pulltorefresh.samples">
    <!-- For WebView Sample -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity
            android:name=".LauncherActivity"
            android:label="PullToRefresh Samples">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PullToRefreshListActivity"
            android:label="PtR ListView" />
        <activity
            android:name=".PullToRefreshRecyclerViewListActivity"
            android:label="PtR RecyclerView" />
        <activity
            android:name=".PullToRefreshListFragmentActivity"
            android:label="PtR ListView Fragment" />
        <activity
            android:name=".PullToRefreshListInViewPagerActivity"
            android:label="PtR ListView in ViewPager" />
        <activity
            android:name=".PullToRefreshGridActivity"
            android:label="PtR GridView" />
        <activity
            android:name=".PullToRefreshExpandableListActivity"
            android:label="PtR ExpandableListView" />
        <activity
            android:name=".PullToRefreshWebViewActivity"
            android:label="PtR WebView" />
        <activity
            android:name=".PullToRefreshScrollViewActivity"
            android:label="PtR ScrollView" />
        <activity
            android:name=".PullToRefreshHorizontalScrollViewActivity"
            android:label="PtR HorizontalScrollView" />
        <activity
            android:name=".PullToRefreshViewPagerActivity"
            android:label="PtR ViewPager" />
        <activity
            android:name=".PullToRefreshWebView2Activity"
            android:label="PtR WebView Advanced" />
    </application>


    <supports-screens android:anyDensity="true" />

</manifest>